# Remix
**/artifacts/
**/artifacts/**
deps/
states/
/build
/.cache


# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.*
.env.local

# NPM
/node_modules
/package-lock.json

# Hardhat
/artifacts
/cache
/coverage
/coverage.json
/typechain


# Logs and IDE
*.log
.DS_Store
.vscode/

# Temp files 
npm-debug.log*
yarn-error.log*
